$bg-grey: #D5D5D5;
$base-color : #595959;
@import url('https://fonts.googleapis.com/css?family=Muli:400,700');


@media screen,
print {

  .report-body,
  .divFooter,
  .divHeader {
    font-family: 'Muli', "Helvetica Neue", Arial, sans-serif;
    color: $base-color;
    
  }

  .report-body.font-helvetica {
    font-family: "Helvetica Neue", Arial, sans-serif;
  }

  .report-body.font-arial {
    font-family: Arial, sans-serif;
  }

  .label {
    font-size: 10.5px;
    color: grey;
    font-weight: unset;
  }

  // helpers
  .bg-grey {
    background-color: $bg-grey;
  }

  .bold {
    font-weight: bold;
  }

  
  .m0 {
    margin: 0px;

  }

  .mr10 {
    margin-right: 10px;

  }

  .ml10 {
    margin-left: 10px;

  }

  .mt10 {
    margin-top: 10px;

  }

  .mb10 {
    margin-bottom: 10px;

  }

  .pb10 {
    padding-bottom: 10px;
  }

  .hidden-text {
    color: transparent!important;
  }

  .center-text {
    text-align: center;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .flex-grid {
    display: flex;

    &.align-items-center {
      align-items: center;
    }
  }

  .flex-wrap {
    flex-wrap: wrap;

    &.flex-wrap-3-per-row {
      &>div {
        width: 33%;
      }
      &>.summary-sections-elements.gutter {
        width: 31%;
        @media screen {
          margin-right: 10px;
        }
        @media print {
          margin-right: 2mm;
        }
        
      }
    }
  }

  .space-between {
    justify-content: space-between;
  }


  .col {
    flex: 1;
    box-sizing:border-box;
    &.gutter {
      @media screen {
        margin-right: 10px;
      }
      @media print {
        margin-right: 2mm;
      }
    }
    

    
  }

  .flex-grow {
    flex-grow: 1;
  }



  .col.flex-grow-2 {
    flex-grow: 2;
  }

  .col.flex-grow-3 {
    flex-grow: 3;
  }

  .col.flex-grow-6 {
    flex-grow: 6;
  }

  .col.flex-grow-9 {
    flex-grow: 9;
  }

  .img-container {
    border: 1px solid $base-color;
  }

  .dotted-underline {
    border-bottom: 1px dotted $base-color;

    &-strong {
      border-bottom: 2px dotted $base-color;
    }
  }

  .colorContainer {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    border: 1px solid #e6e5e5;
  }


  // document
  .report-table-heading {
    font-weight: bold;
    text-transform: uppercase;
  }

  .report-table {
    width: 100%;

    .highlighted {
      background-color: $bg-grey !important;

      &-label {
        font-weight: bold;
      }
    }

    &.attendees-table {
      width: 66%;
    }
  }

  .title-row {
    font-weight: bold;
    text-transform: uppercase;
  }

  .report-table>.flex-grid {
    margin-bottom: 5px;
  }

  .sign-approval-disclaimer-text-wrapper {
    margin-bottom: 110px;
  }
} // END PRINT AND SCREEN

.reportAcro {
  width: 14%;
  margin-right: 40px;
  margin-left: 8px;
}

//int selection page

.optionResultSection {
  .removeOptionButton {
    position: relative !important;
    right: 26px !important;
    z-index: 2 !important;
  }

  .panelHeadingReports {
    h5 {
      margin-bottom: -10px;
    }

    .relatedMonumentId {
      font-size: 10px;
    }
  }
}

.optionResultReport {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-transform: uppercase;

  .monumentSection {
    justify-content: flex-start;

    .monumentCheckbox {
      margin-top: 17px;
      margin-left: -7px;
    }

    .monumentName {
      margin-left: -11px;
      margin-top: 10px;
    }

    .monumentAddNote {
      margin-top: 22px;
      font-size: 11px;
      text-align: right;
      margin-left: -8px;

    }

  }

  .optionSelectionSection {
    justify-content: center;
    margin-top: 19px;

    input {
      margin-top: 11px;
    }

    label {
      padding: 7px;
      margin-top: 4px;
      margin-left: -3px;
    }
  }

  .classificationSection {
    justify-content: flex-end;

    .dropDownLabel {
      font-size: 9px;
      margin-bottom: -10px;
      margin-left: 11px;
    }
  }

  .selector-report-classification {
    justify-content: flex-start;
    width: 165%;
    margin-left: -4px;
  }

  .add-report-classification {
    justify-content: flex-end;
    margin-left: -72%;
    margin-top: 6px;
    z-index: 1 !important;
    position: relative;
  }
}

.ReportSubSection {
  padding: 10px;
  margin-bottom: -10px;
}

.reportInt {
  .small {
    font-size: 80% !important;
  }

  .introSectionDetails {
    display: flex;
    margin-left: 14px;
  }

  .relatedSections {
    margin-top: -5px;
    font-weight: 600;
    border: 1px solid grey;
    font-size: 13px;
    text-align: center;
    margin-left: 4px;
    background-color: #f1f0f0;
    padding: 3px;

  }

}

.reportOptionResult {
  .add-optionsReports {
    background-color: black;
    border: none;
    padding: 7px;
    position: absolute;
    margin-left: -91px;
    margin-top: 3px;
  }
}

//flex for tables for  masterDataReports

.masterDataReports {
  .masterDataReportsHeader {
    justify-content: space-evenly;
    background: #bfbfbf;
    /* border: 3px solid rgba(0, 0, 0, 0.2); */
    padding: 13px !important;
    color: black;
    font-weight: bold;
    font-size: 11px;
    text-align: left;
  }

  .masterDataReportsBody {
    justify-content: space-evenly;
    text-align: left;
    font-size: 11px;
    padding: 10px;
  }

  .masterDataButton {
    background: #aaaaab;
    color: white;
    display: inline-block;
    /* margin-right: 5px; */
    min-width: 150px;
    padding: 10px;

  }

  .marginForFirstRow {
    margin-top: -21px !important;
  }

  .backgroundColorOdd {
    background-color: #e5e5e8;
  }

  .image-clipView-table {
    width: 50px;
    height: 50px;
    margin: 5px;
  }


}

// SCREEN ONLY

/*************************/


/*************************/

@media screen {

  // .report-cover-page {
  //   display: none;
  // }
  .hide-in-print {
    &.light {
      color: #c1bebe;
    }
  }

  

  .report-cover-page {
    margin-top: 7mm;
    page-break-after: always;
    justify-content: center;
    align-items: center;
    font-size: 18pt;

    &>div {
      margin-bottom: 3mm;
    }
  }

  // overwrite bootsrap padding
  .report-body {
    font-size: 14px;
  }

  .container {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .report-body {
    background-color: #fff;
  }

  div.divFooter {
    display: none;
  }

  div.divHeader {
    display: none;
    position: fixed;
    top: 0;
  }

  div.back-to-cms {
    position: fixed;
    top: 0;
  }

  .page-break {
    display: none;
  }

  .mb-1 {
    margin-bottom: 15px !important;
  }

  .mb-2,
  .mb-2-screen {
    margin-bottom: 30px !important;
  }


  .pl-2 {
    padding-left: 30px !important;
  }

  .img-container {
    height: 83.15px;
  }

  .report-header {
    font-size: 24px;
    text-transform: uppercase;
    border-bottom: 2px solid $base-color;
    margin-bottom: 15px;
    padding-bottom: 10px;
    font-weight: bold;
    // font-family: 'Muli', sans-serif;
  }

  .report-subheader {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 25px;
    border-bottom: 2px dotted $base-color;
    text-transform: uppercase;
    // font-family: 'Muli', sans-serif;
  }

  //session-summary table
  // border: 1px solid green;
  .summary-sections-row {

    // border: 1px solid blue;
    .summary-sections-elements {
      // border: 1px solid red;
      box-sizing: border-box;
      margin-bottom: 9px;
      line-height: 1.25;

      div {
        &:first-child {
          padding-top: 10px;
        }

        &:last-child {
          padding-bottom: 10px;
        }

        // border: 1px solid green;
        &.gutter {
          width: calc(100% - 10px);
        }

        &.summary-value {
          // padding-top: 10px;
          font-size: 20px;
          &.summary-value-no-left-padding {
            padding-left: 0px!important;
          }

          &.notes {
            font-size: 14px;
          }

          &.sign-approval {
            &-bg {
              background: white;
              border-bottom: 3px solid #979898;
            }
            &-value {
              font-size: 14px;
              color: #c3c2c2;
            }
            
          }

          &-sm {
            font-size: 18px;
          }
        }

        &.summary-label {
          // padding-bottom: 10px;
          text-transform: uppercase;
          &.summary-label-no-left-padding {
            padding-left: 0px!important;
          }

          // font-weight: bold;
          &.discussion {
            font-size: 16px;
          }
        }

        &.summary-label,
        &.summary-value {
          padding-left: 30px;
          padding-right: 30px;
          background-color: $bg-grey;
        }
      }
    }
  }
}

.report-table-heading {
  font-size: 18px;
}

.report-table {
  margin-bottom: 30px;
  padding-left: 30px;

  .flex-grid-group {
    &.avionics {
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: $bg-grey !important
    }
  }

  .flex-grid>.col {
    font-size: 16px;
  }

  .highlighted {
    padding: 10px 0 10px 0;

    &-label {
      padding-left: 15px;
    }

    &.avionics {
      padding: 0;
    }
  }
}

.report-table>.flex-grid {
  margin-bottom: 2px;
  padding-bottom: 5px;
}

.grouped-PnO,
.grouped-addtional-notes {
  margin-bottom: 5px;

  &>.dotted-underline,
  &>.dotted-underline-strong {
    margin-bottom: 5px;
    padding-bottom: 2px;
  }

}

.grouped-addtional-notes {
  &>.dotted-underline-strong {
    padding-bottom: 7px;
  }
}

// PRINT STYLES

/************************/


/************************/

@media print {
  //colors will need to have !important rule to override bootrap print styles of no shades (transparent) 

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    color: $base-color !important;
  }
  @page:first {
    size: A4;
    margin: 0;
  }

  @page {
    size: A4;
    margin: 70pt 60pt 70pt;
  }


  
  @page {
    @top {
      content: flow(header);
      margin: 10pt 0 30pt 0;
      border-bottom: .25pt solid #666;
      // content: "My book";
      font-size: 9pt;
      color: #333;
    }
  }

  @page { 
    @bottom-left {
      margin: 10pt 0 30pt 0;
      border-top: .25pt solid #666;
      content: flow(footer);
      font-size: 9pt;
      color: #333;
    }
    
  }


  @page {
    @top-right  {
      content: string(sectiontitle);
      font-size: 8pt;
    }
    @bottom-right {
      content: counter(page);
    }
  }
  
  

  .fn {
    float: footnote;
  }

  .fn::footnote-marker {
    font-weight: 100;
  }

  @page {
    @footnote {
      font-size: 8pt;
    }
  }

  @page:blank {
    @top-center {
      content: "This page is intentionally left blank"
    }
  }

  .report-cover-page-img {
    page: cover; 
    content: url("eberhard-unsplash.jpg");
    width: 100%;
    height: 100%; 
    z-index:-100;
  }

  

  .header-text {
    flow:static(header);
    font-size: 9pt;
  } 
  .footer-text {
    flow:static(footer);
    font-size: 9pt;
  }


  .page-break-after {
    page-break-after: always;
  }

  .avoid-page-break {
    page-break-after: avoid;
  }

  h3.xref:after {
    content: leader('.') target-counter(attr(href, url), page);
  }



  body {
    -webkit-print-color-adjust: exact; // enable chrome to show background colors in print
    background-color: #fff !important;
    // padding-left: 12.55mm;
    // padding-right: 12.55mm;
    // border: 1px solid steelblue;
  }

  .report-cover-page-container {
    height: 297mm;
    
  }
  .report-cover-page {
    // margin-top: 103mm;
    page-break-after: always;
    justify-content: center;
    align-items: center;
    font-size: 18pt;
    &.test-img {
      background-image: url('eberhard-unsplash.jpg');
      height: 100%;
    }
    

    &>div {
      margin-bottom: 3mm;
    }
  }

  .report-body {
    font-size: 10.5pt;
  }

  div.divFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  div.divHeader {
    position: fixed;
    top: 0;
    width: 100%;
  }

  div.back-to-cms {
    display: none;
  }

  .page-break {
    display: block;
    page-break-before: always;
    margin-top: 40pt;
  }

  // helpers
  .hide-in-print {
    display: none!important;
    &.light {
      color: #c1bebe;
    }
  }

  .flex-grid {
    display: flex;
  }

  .col {
    flex: 1;
  }

  .col.flex-grow-2 {
    flex-grow: 2;
  }

  .mb-1 {
    margin-bottom: 11.25pt !important;
  }

  .mb-2 {
    margin-bottom: 22.5pt !important;
  }

  .pl-2 {
    padding-left: 5mm !important;
  }

  table-of-contents-container {

  }

  // make some space on print for certain sections to not conflict with headers
  .detail-summary,
  .new-page-padding {
    padding-top: 40px;
  }

  .report-table-padding>.flex-grid {
    margin-bottom: 7.5pt;
  }

  .img-container {
    height: 22mm;
  }

  .report-header {
    string-set: sectiontitle content();
    font-size: 18pt;
    border-bottom: 2pt solid $base-color;
    margin-bottom: 11pt;
    padding-bottom: 7.5pt;
    text-transform: uppercase;
    font-weight: bold;
  }

  .report-subheader {
    font-size: 18pt;
    text-transform: uppercase;
    border-bottom: 2pt dotted $base-color;
    margin-top: 11pt;
    margin-bottom: 19pt; // text-transform: uppercase;
  }

  // session summary table
  // border: 1px solid green;
  .summary-sections-row {

    // border: 1px solid blue;
    .summary-sections-elements {
      // border: 1px solid red;
      box-sizing: border-box;
      margin-bottom: 3.5mm;
      margin-bottom: 2mm;

      div {
        line-height: 15pt;

        &:first-child {
          padding-top: 10px;
        }

        &:last-child {
          padding-bottom: 10px;
        }

        // border: 1px solid green;
        &.gutter {
          // width: calc(100% - 2mm);
          width: 98%;
          box-sizing: border-box;
        }

        &.summary-value {
          // padding-top: 10px;
          font-size: 12.5pt;
          &.summary-value-no-left-padding {
            padding-left: 0pt!important;
          }

          &.notes {
            font-size: 10.5pt;
          }

          &.sign-approval {
            &-bg {
              background: white!important;
              border-bottom: 2.25pt solid #979898;
            }
            &-value {
              font-size: 8.5pt;
              color: #c3c2c2;
            }
            
            
          }
        }

        &.summary-label {
          // padding-bottom: 10px;
          text-transform: uppercase;
          &.summary-label-no-left-padding {
            padding-left: 0px!important;
          }

          // font-weight: bold;
          &.discussion {
            font-size: 12pt;
          }
        }

        &.summary-label,
        &.summary-value {
          padding-left: 23pt;
          padding-right: 23pt;
          background-color: $bg-grey !important;
          box-sizing: border-box;
          &.bg-white {
            background-color: white!important;
          }
        }
      }
    }
  }

  .report-table-heading {
    font-size: 13.5pt;
  }

  .report-table {
    margin-bottom: 23pt;
    padding-left: 23pt;

    .flex-grid-group {
      &.avionics {
        padding-top: 3.75pt;
        padding-bottom: 3.75pt;
        background-color: $bg-grey !important
      }
    }

    .flex-grid>.col {
      font-size: 12pt;
    }

    .highlighted {
      padding: 7.5pt 0 7.5pt 0;

      &-label {
        padding-left: 11pt;
      }
    }
  }

  .report-table>.flex-grid {
    margin-bottom: 3.75pt;
  }

  .cbr-replaced.cbr-disabled{
    cursor: not-allowed !important;

  }

  .grouped-PnO,
  .grouped-addtional-notes {
    margin-bottom: 3.75pt;

    &>.dotted-underline {
      margin-bottom: 3.75pt;
      padding-bottom: 1.5pt;
    }
  }

  .grouped-addtional-notes {
    &>.dotted-underline-strong {
      padding-bottom: 5.25pt;
    }
  }


  

}